
<div>
  <h3>date picker</h3>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date"
    (dateInput)="addEvent('input', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button (click)="getOrdByDate(data)">afiseaza ordinele din data respectiva</button>

</div>
<div>
  <h3>Registru ordine</h3>
  <ul>
    <li *ngFor="let o of orderList">
    {{o.data}} {{o.simbol}} {{o.internal_account}} {{o.volum}}
    </li>
  </ul>
</div>
<div>
  <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="txtFileFilter" id="photo">
    </form>

    <button type="button" class="btn btn-success btn-s" 
      (click)="upload()" [disabled]="!filestoUpload">
      Upload
      </button>
      <p>{{mesaj_upload}}</p>
      
</div>


<!-- OLD CODE -->

<!-- exams
<h2> here are the exams created</h2>
<ul>
  <li *ngFor="let exam of examList">
    {{exam.title}}
  </li>
</ul> -->

<!-- customer
<div>
  <h3>customers</h3>
  <button (click)="getC()">push for customers</button>
  <ul>
    <li *ngFor="let c of custList">
      {{c.firstname}} {{c.lastname}} {{c.age}} {{c.createdAt}} {{c.updatedAt}}
    </li>
  </ul>
</div> -->


<!-- <mat-form-field>
    <input matInput [matDatepicker]="picker" 
    placeholder="Choose a date" 
    (dateInput)="addEvent('input',$event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>
  <button (click)="getOrdByDate(data)">afiseaza ordinele din data respectiva</button> -->
